*.img
*.img.bmap
*.pcap
*.po~
preview.png
__pycache__
_backups
_emulation
_utils
config.laptop.yml
.idea
packer_cache
output-pwnagotchi
.DS_Store
build
dist
pwnagotchi.egg-info
*backup*.tgz
*backup*.gz
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
