form {
    margin-block-end: 0;
}


.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
}

/**
 * make sure image is displayed without any blur
 */
.pixelated {
    image-rendering: optimizeSpeed; /* Legal fallback */
    image-rendering: -moz-crisp-edges; /* Firefox        */
    image-rendering: -o-crisp-edges; /* Opera          */
    image-rendering: -webkit-optimize-contrast; /* Safari         */
    image-rendering: optimize-contrast; /* CSS3 Proposed  */
    image-rendering: crisp-edges; /* CSS4 Proposed  */
    image-rendering: pixelated; /* CSS4 Proposed  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}

.image-wrapper {
    flex: 1;
    position: relative;
}

.ui-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100vw;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
}

.buttons-wrapper {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
}

.button {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 2em;
    background: #f8b506;
    margin: 16px;
}

div.status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}