{% extends "base.html" %}
{% set active_page = "plugins" %}

{% block title %}
Plugins
{% endblock %}

{% block script %}
$(function(){
    $("input[type=checkbox]").change(function(e) {
          var checkbox = $(this);
          var form = checkbox.closest("form");
          var url = form.attr('action');

          $.ajax({
             type: "POST",
             url: url,
             data: form.serialize(),
             success: function(data) {
                  if( data.indexOf('failed') != -1 ) {
                      alert('Could not be toggled.');
                  }
            }
        });
    });
});
{% endblock %}
{% block content %}
<div style="padding: 1em">
    {% for name in database.keys() %}
      <h4>{{name}}</h4>
      <form method="POST" action="/plugins/toggle">
        <input type="checkbox" data-role="flipswitch" name="enabled" id="flip-checkbox-{{name}}" data-on-text="Enabled" data-off-text="Disabled" data-wrapper-class="custom-size-flipswitch" {% if name in loaded %} checked {% endif %}>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="plugin" value="{{ name }}"/>
      </form>
    {% endfor %}
</div>
{% endblock %}
