<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div class="content">
        <div class="image-wrapper">
            <img class="ui-image pixelated" src="/state/png" id="ui"/>
        </div>
        <div class="buttons-wrapper">
            <form class="action" method="POST" action="/shutdown" onsubmit="return confirm('This will halt the unit, continue?');">
              <input type="submit" class="button" value="Shutdown"/>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>

            <form class="action" method="POST" action="/restart" onsubmit="return confirm('This will restart the service in {{ other_mode }} mode, continue?');">
              <input type="submit" class="button" value="Restart in {{ other_mode }} mode"/>
              <input type="hidden" name="mode" value="{{ other_mode }}"/>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>

            <form class="action" method="GET" action="/inbox">
              <input type="submit" class="button" value="PwnMail"/>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/js/refresh.js"></script>
    <script type="text/javascript" src="/js/viewportHeight.js"></script>

    <script>
        // Replacement for URL() and URLSearchParams() because IE sucks.
        let _getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };

        window.onload = function() {

          const $ = document.querySelector.bind(document);

          let show_buttons = false;
                    let show_param = _getUrlParameter('show_buttons');

                    if (show_param !== undefined){
                        show_buttons = show_param === "true";
                    }

                    $("#button-bar").style.display = show_buttons === false ? "none" : "flex";

          $(".buttons-wrapper").style.display = show_buttons === false ? "none" : "flex";
        };
    </script>
</body>
</html>